.general-info.container {
    width: 1100px;
    height: 100%;
    background-color: var(--cream);

}


.general-info.header {
    display: flex;
}

.header-wrapper {
    display: flex;
    width: 798px;
    align-items: center;
    justify-content: space-between;
    margin-left: 61px;
    border-bottom: 1px solid var(--black);
    padding-top: 44px;
    margin-bottom: 69px;

}

#arrow-left {
    width: 40px;
    height: 40px;
    padding: 45px 0px 0px 45px;
    cursor: pointer;
}


.header-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--black);
}

form {
    padding: 0px 0px 0px 126px;
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 419px;
    height: 122px;
    gap: 8px;
    position: relative;

}

.input-wrapper input, .input-wrapper select {
    width: 371px;
    height: 48px;
    border: 1px solid var(--grey);
    border-radius: 4px;
}

.input-wrapper>div>.error {
    border: 1px solid var(--red);

}

.input-wrapper>div>.valid {
    border: 1px solid var(--green);

}

.input-wrapper>.error {
    border: 1px solid var(--red);


}

.input-wrapper>.valid {
    border: 1px solid var(--green);

}

.input-wrapper.info>.valid,
.input-wrapper.desc>.valid {
    outline: 1px solid var(--green);

}



.input-wrapper label {
    width: 371px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}

.input-wrapper p {
    width: 371px;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
}


.form-wrapper {
    display: flex;
    flex-direction: row;
}

.pic-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 19px;
    width: 419px;
    height: 122px;
    padding-left: 25px;
}

.pic-wrapper button {
    width: 107px;
    height: 27px;
    background-color: var(--blue);
    border: none;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: white;
}


#info-text,
#desc-text,
#edu-desc-text {
    width: 766px;
    height: 77px;
    border: 1px solid var(--grey);
    border-radius: 4px;
    resize: none;
    padding: 13px 16px;
}

#edu-desc-text {
    height: 179px;
}


.input-wrapper.info,
.input-wrapper.contact,
.input-wrapper.work,
.input-wrapper.uni {
    width: 846px;

}

.input-wrapper.desc {
    width: 798px;
    height: 224px;
    margin: 0px 24px;
}

.input-wrapper.contact {
    padding-top: 20px;
}

.input-wrapper.info {
    height: 148px;
}



.input-wrapper.desc {
    height: 168px;
    padding-bottom: 42px;
    border-bottom: 1px solid var(--grey);
}

.input-wrapper #info-label,
#mail-label,
#phone-label,
#title-label,
#employee-label,
#desc-label,
#uni-label {
    width: 798px;
}

.input-wrapper #mail-labelvalid {
    color: var(--green);
    width: 798px;
}

.input-wrapper #mail-labelerror {
    color: var(--red);
    width: 798px;
}

.input-wrapper #mail-label-error {
    color: var(--red);
}

input {
    box-sizing: border-box;
    padding: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}




#info-text::placeholder,
#desc-text::placeholder,
#edu-desc-text::placeholder {
    color: rgba(0, 0, 0, 0.6);
}

#mail-text,
#phone-text,
#title-text,
#employee-text,
#uni-text {
    width: 798px;
    height: 48px;
}

.input-wrapper.contact p,
.input-wrapper.work p,
.input-wrapper.uni p {
    width: 798px;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
}

#next-page-btn {
    width: 151px;
    height: 48px;
    background: var(--violet);
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: white;
    margin: 147px 0px 65px 797px;
    letter-spacing: 0.08em;

}


input[type=date] {
    padding: 0px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    width: 339px;
    color: rgba(0, 0, 0, 0.6);
    width: 371px;
    height: 48px;
}

#more-experience {
    width: 289px;
    height: 48px;
    color: white;
    background-color: var(--lightblue);
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

}

.more-exp.wrapper {
    margin: 50px 149px 0px 149px;

}

.toggle-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 147px 150px 65px 150px;
}

.toggle-buttons.edu {
    padding-top: 270px;
}

.toggle-buttons button {
    width: 151px;
    height: 48px;
    background: var(--violet);
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: white;
    letter-spacing: 0.08em;
}


.valid-icon,
.error-icon {
    width: 16.5px;
    height: 16.5px;
    position: absolute;
    left: 365px;
    top: 53px;
}

.valid-icon-outside,
.error-icon-outside {
    width: 16.5px;
    height: 16.5px;
    position: absolute;
    left: 830px;
    top: 72.5px;
}

.valid-icon-inside,
.error-icon-inside {
    width: 16.5px;
    height: 16.5px;
    position: absolute;
    left: 790px;
    top: 52.5px;
}


option[value=""][disabled] {
    display: none;
    color: rgba(0, 0, 0, 0.6);
}