* {
    margin: 0px;
    padding: 0px;
    font-family: helveticaNeue;
}


@font-face {
    font-family: helveticaNeue;
    src: url("./assets/HelveticaNeue.ttc")
}

:root {
    --black: #1A1A1A;
    --cream: #F9F9F9;
    --grey: #BCBCBC;
    --blue: #0E80BF;
    --violet: #6B40E3;
    --lightblue: #62A1EB;
    --red: #EF5050;
    --green: #98E37E;
}

button {
    cursor: pointer;
}